<%= form_for(movimentacao) do |f| %>
  <% if movimentacao.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(movimentacao.errors.count, "error") %> Não foi possível salvar a movimentação:</h4>
      <ul>
      <% movimentacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-8">
     <%= f.label :conta_id, class: 'control-label' %>
      <%= f.select :conta_id, 
        options_from_collection_for_select(Contum.all, :id, :full_name, movimentacao.conta_id), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="field">
    <%= f.label :data_movimentacao %>
    <%= f.date_select :data_movimentacao, {disabled: true}%>
  </div>

  <div class="field">
    <%= f.label :tranferencia %>
    <%= f.check_box :tranferencia, {checked: true,:class => 'ck_transf' } %>
  </div>

  <div class="field">
    <%= f.label :saque %>
    <%= f.check_box :saque, { :class => 'ck_saque' } %>
  </div>

  <div class="field">
    <%= f.label :deposito %>
    <%= f.check_box :deposito, { :class => 'ck_deposito' } %>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
    <%= f.label :valor %>
    <%= f.text_field :valor, { :class => 'form-control' } %>
    </div>
  </div> 

  <div class="row conta_receptora">
    <div class="form-group col-md-8">
     <%= f.label :conta_receptora_id, class: 'control-label' %>
      <%= f.select :conta_receptora_id, 
        options_from_collection_for_select(Contum.all, :id, :full_name, movimentacao.conta_receptora_id), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Salvar"%>
  </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function() {
      $('.ck_transf').click(function() {
          if ($(this).is(':checked')) {
              $('.ck_saque').prop('checked', false);
              $('.ck_deposito').prop('checked', false);
          }
          $('.conta_receptora').show();
      });

      $('.ck_saque').click(function() {
          if ($(this).is(':checked')) {
              $('.ck_transf').prop('checked', false);
              $('.ck_deposito').prop('checked', false);
          }
          $('.conta_receptora').hide();
      });

      $('.ck_deposito').click(function() {
          if ($(this).is(':checked')) {
              $('.ck_saque').prop('checked', false);
              $('.ck_transf').prop('checked', false);
          }
          $('.conta_receptora').hide();
      });
});
     
</script>