<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Movimentações</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% if notice or alert %>
<div class="alert alert-<%= alert ? 'warning' : 'success' %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Extrato
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Conta</th>
                  <th>Data movimentação</th>
                  <th>Transferência</th>
                  <th>Saque</th>
                  <th>Depósito</th>
                  <th>Valor</th>
                </tr>
              </thead>

              <tbody>
                <% @movimentacaos.each do |movimentacao| %>
                  <tr>
                    <td><%= movimentacao.conta.full_name %></td>
                    <td><%= movimentacao.data_movimentacao.to_s(:custom_datetime) %></td>
                    <td align="center"><%= movimentacao.tranferencia == true ? 'X': ''%></td>
                    <td align="center"><%= movimentacao.saque == true ? 'X': ''%></td>
                    <td align="center"><%= movimentacao.deposito == true ? 'X': ''%></td>
                    <td><%= movimentacao.valor %></td>
                  </tr>
                <% end %>
              </tbody>
           </table> 
          </div>
    </div>  
  </div>    
</div>

<br>

<%= link_to 'Nova Movimentação', new_movimentacao_path, class: 'btn btn-primary' %>
